.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .bigCard {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
  }
  
  .bigCard h2 {
    color: #333;
  }
  
  .smallCardsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .smallCard {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
  }
  
  .smallCard h3 {
    color: #333;
  }
  