.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px #4d76ac;
  }
  
  .card h2 {
    margin-bottom: 10px;
    color: #867abc;
  }
  
  .card p {
    color: #666;
  }

  .card a{
    text-decoration: none;
    color: #867abc;
  }

  .card a:hover{
    text-decoration: underline;
    color: #867abc;
  }