.collaboratorsContainer {
    text-align: center;
    margin-top: 40px;
  }

  .collaboratorsContainer h1{
    color: #867abc;
  }
  
  .imagesContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
  }
  