.cardContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card h2{
  margin-bottom: 15px;
}

.card p{
  margin-bottom: 10px;
}

.card a{
  text-decoration: none;
  color:blueviolet;
}

.card a{
  text-decoration: none;
}

.card a:hover{
  text-decoration: underline;
}


